<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Optimum Translator</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/feather/feather.css') }}">
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/select2/select2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap.min.css') }}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href=  "{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href=  "{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="../../images/logo.svg" alt="logo">
              </div>
              <h4>안녕하세요! 반갑습니다</h4>
              <form class="pt-3" action="/login" method="post">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="아이디" name="id">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="비밀 번호" name="password">
                </div>
                <div class="mt-3">
                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">로그인</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                  <div class="form-check">
                    <label class="form-check-label text-muted">
                      <input type="checkbox" class="form-check-input">
                      로그인 저장
                    </label>
                  </div>
                  <a href="#" class="auth-link text-black">비밀번호 찾기</a>
                </div>
                
                <div class="text-center mt-4 font-weight-light">
                  계정이 없으십니까? <a href="/registerPage" class="text-primary">회원가입</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ url_for('static', filename='vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/select2/select2.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src=  "{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src= "{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src= "{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/file-upload.js') }}"></script>
  <script src="{{ url_for('static', filename='js/typeahead.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select2.js') }}"></script>

  <!-- jqery 05.27 taehee-->
  <script src="{{ url_for('static', filename='js/jquery-3.7.0.js') }}"></script>
  <!-- endinject -->
</body>

</html>
