<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Skydash Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href= "{{ url_for('static', filename='vendors/feather/feather.css') }}">
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href=  "{{ url_for('static', filename='vendors/select2/select2.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/select2-bootstrap-theme/select2-bootstrap.min.css') }}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href=  "{{ url_for('static', filename='css/vertical-layout-light/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href=  "{{ url_for('static', filename='images/favicon.png') }}" />

  

  <style>
    #changeIcon {
      background: url(  "{{ url_for('static', filename='images/papagoicon.png') }}");
      width: 47px;
      height: 40px;
      border: none;
      float: right
    }
    #changeIcon:hover {
      background-image: url( "{{ url_for('static', filename='images/papagoicon2.png') }}");
    }
    
    .popup {
      display : none;
      width: 40%;
      position: fixed;
      top: 300px;
      left: 500px;
      border: 1px solid black;
    }

    .selectedApi {
      background-color : #4B49AC;
      color : white;
    }

    .selectedLang {
      background-color: #a3a4a5;
      color : black;
    }
  </style>
</head>

<body>
  <div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    {% include "navbar.html"%}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:../../partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <div id="right-sidebar" class="settings-panel">
        <i class="settings-close ti-close"></i>
        <ul class="nav nav-tabs border-top" id="setting-panel" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="todo-tab" data-toggle="tab" href="#todo-section" role="tab" aria-controls="todo-section" aria-expanded="true">TO DO LIST</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="chats-tab" data-toggle="tab" href="#chats-section" role="tab" aria-controls="chats-section">CHATS</a>
          </li>
        </ul>
        <div class="tab-content" id="setting-content">
          <div class="tab-pane fade show active scroll-wrapper" id="todo-section" role="tabpanel" aria-labelledby="todo-section">
            <div class="add-items d-flex px-3 mb-0">
              <form class="form w-100">
                <div class="form-group d-flex">
                  <input type="text" class="form-control todo-list-input" placeholder="Add To-do">
                  <button type="submit" class="add btn btn-primary todo-list-add-btn" id="add-task">Add</button>
                </div>
              </form>
            </div>
            <div class="list-wrapper px-3">
              <ul class="d-flex flex-column-reverse todo-list">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Team review meeting at 3.00 PM
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Prepare for presentation
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox">
                      Resolve all the low priority tickets due today
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Schedule meeting for next week
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked>
                      Project review
                    </label>
                  </div>
                  <i class="remove ti-close"></i>
                </li>
              </ul>
            </div>
            <h4 class="px-3 text-muted mt-5 font-weight-light mb-0">Events</h4>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 11 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Creating component page build a js</p>
              <p class="text-gray mb-0">The total number of sessions</p>
            </div>
            <div class="events pt-4 px-3">
              <div class="wrapper d-flex mb-2">
                <i class="ti-control-record text-primary mr-2"></i>
                <span>Feb 7 2018</span>
              </div>
              <p class="mb-0 font-weight-thin text-gray">Meeting with Alisa</p>
              <p class="text-gray mb-0 ">Call Sarah Graves</p>
            </div>
          </div>
          <!-- To do section tab ends -->
          <div class="tab-pane fade" id="chats-section" role="tabpanel" aria-labelledby="chats-section">
            <div class="d-flex align-items-center justify-content-between border-bottom">
              <p class="settings-heading border-top-0 mb-3 pl-3 pt-0 border-bottom-0 pb-0">Friends</p>
              <small class="settings-heading border-top-0 mb-3 pt-0 border-bottom-0 pb-0 pr-3 font-weight-normal">See All</small>
            </div>
            <ul class="chat-list">
              <li class="list active">
                <div class="profile"><img src="../../images/faces/face1.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Thomas Douglas</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">19 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face2.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <div class="wrapper d-flex">
                    <p>Catherine</p>
                  </div>
                  <p>Away</p>
                </div>
                <div class="badge badge-success badge-pill my-auto mx-2">4</div>
                <small class="text-muted my-auto">23 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face3.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Daniel Russell</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">14 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face4.jpg" alt="image"><span class="offline"></span></div>
                <div class="info">
                  <p>James Richardson</p>
                  <p>Away</p>
                </div>
                <small class="text-muted my-auto">2 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face5.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Madeline Kennedy</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">5 min</small>
              </li>
              <li class="list">
                <div class="profile"><img src="../../images/faces/face6.jpg" alt="image"><span class="online"></span></div>
                <div class="info">
                  <p>Sarah Graves</p>
                  <p>Available</p>
                </div>
                <small class="text-muted my-auto">47 min</small>
              </li>
            </ul>
          </div>
          <!-- chat tab ends -->
        </div>
      </div>
      <!-- partial -->
      <!-- partial:../../partials/_sidebar.html -->
      {% include "sidebar.html"%}
      <!-- partial -->
      <div class="main-panel">        
        <div class="content-wrapper">
          <div class="row">
            <div class="col-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <div class="btn-group" style="margin : 10px;">
                    <button type="button" class="btn btn-info" id="sourceLang" data-lang = 'ko'>한국어</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton5" style="height: 500px;overflow-y: auto;">
                      <a class="dropdown-item sourceLangItem" data-lang="en">영어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="ja">일본어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="ko">한국어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="sw">스와힐리어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="nl">네덜란드어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="da">덴마크어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="de">독일어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="lv">라트비아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="ru">러시아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="ro">루마니아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="lt">리투아니아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="ms">말레이어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="vi">베트남어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="bg">불가리아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="sr">세르비아어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="fr-FR">프랑스어(프랑스)</a>
                      <a class="dropdown-item sourceLangItem" data-lang="hu">헝가리어</a>
                      <a class="dropdown-item sourceLangItem" data-lang="zh-CN">중국어(간체)</a>
                      <a class="dropdown-item sourceLangItem" data-lang="zh-TW">중국어(대만)</a>     
                    </div>
                  </div>
                  <!--<button id="changeIcon"></button> -->
                  <form class="forms-sample">
                    <div class="form-group">
                      <textarea class="form-control" id="text" style="height : 400px;" rows="10"></textarea>
                    </div>
                    <button type="button"class="btn btn-primary mr-2" id="tranBtn">번역하기</button>
                    <button type="button"class="btn btn-primary mr-2 openPopup" id="tranBtn">매개언어선택</button>       
                    <button type="reset"class="btn btn-light">새로고침</button>
                 
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 stretch-card grid-margin">
              <div class="card">
                <div class="card-body">
                  <div class="btn-group" style="margin : 10px;">
                    <button type="button" class="btn btn-info" id="targetLang" data-lang="ko">한국어</button>
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" id="dropdownMenuSplitButton5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuSplitButton5"  style="height: 500px;overflow-y: auto;">
                      <a class="dropdown-item targetLangItem" data-lang="en">영어</a>
                      <a class="dropdown-item targetLangItem" data-lang="ja">일본어</a>
                      <a class="dropdown-item targetLangItem" data-lang="ko">한국어</a>
                      <a class="dropdown-item targetLangItem" data-lang="sw">스와힐리어</a>
                      <a class="dropdown-item targetLangItem" data-lang="nl">네덜란드어</a>
                      <a class="dropdown-item targetLangItem" data-lang="da">덴마크어</a>
                      <a class="dropdown-item targetLangItem" data-lang="de">독일어</a>
                      <a class="dropdown-item targetLangItem" data-lang="lv">라트비아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="ru">러시아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="ro">루마니아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="lt">리투아니아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="ms">말레이어</a>
                      <a class="dropdown-item targetLangItem" data-lang="vi">베트남어</a>
                      <a class="dropdown-item targetLangItem" data-lang="bg">불가리아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="sr">세르비아어</a>
                      <a class="dropdown-item targetLangItem" data-lang="fr-FR">프랑스어(프랑스)</a>
                      <a class="dropdown-item targetLangItem" data-lang="hu">헝가리어</a>
                      <a class="dropdown-item targetLangItem" data-lang="zh-CN">중국어(간체)</a>
                      <a class="dropdown-item targetLangItem" data-lang="zh-TW">중국어(대만)</a>  
                    </div>
                  </div>
                  <ul class="icon-data-list" style="display:block;">
                    <li>
                      <div class="d-flex">
                        <img src="{{ url_for('static', filename='images/google.png') }}" alt="user">
                        <div>
                          <p class="text-info mb-1">Google</p>
                          <p class="mb-0" id="googleResult"></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex">                      
                        <img src="{{ url_for('static', filename='images/papago.png') }}" alt="user">
                        <div>
                          <p class="text-info mb-1">Papago</p>
                          <p class="mb-0" id="papagoResult"></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex">                      
                        <img src="{{ url_for('static', filename='images/kakao.png') }}" alt="user">
                        <div>
                          <p class="text-info mb-1">kakao</p>
                          <p class="mb-0" id="kakaoResult"></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex">                      
                        <img src="{{ url_for('static', filename='images/deepl.png') }}" alt="user">
                        <div>
                          <p class="text-info mb-1">deepl</p>
                          <p class="mb-0" id="deeplResult"></p>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="d-flex">                      
                        <img src="{{ url_for('static', filename='images/gpt.jpg') }}" alt="user">
                        <div>
                          <p class="text-info mb-1">GPT</p>
                          <p class="mb-0" id="gptResult"></p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>        
          </div>
           <div class="card popup" >
            <div class="row">
              <div class="col-md-12">
                <div class="card-body">
                  <h4 class="card-title">매개언어 선택</h4>
                  <p class="card-description">매개언어를 선택하여 번역 성능을 높이거나, 지원하는 api 수를 늘리 수 있습니다.</p>
                  <p class="card-description">API 선택</p>
                  <div class="template-demo">
                    <button type="button" class="btn btn-outline-primary btn-fw interApi" data-api="google">Google</button>
                    <button type="button" class="btn btn-outline-primary btn-fw interApi" data-api="gpt">GPT</button>
                    <button type="button" class="btn btn-outline-primary btn-fw interApi" data-api="gpt">DeepL</button>
                    <!-- <button type="button" class="btn btn-outline-success btn-fw">Success</button>
                    <button type="button" class="btn btn-outline-danger btn-fw">Danger</button>
                    <button type="button" class="btn btn-outline-warning btn-fw">Warning</button>
                    <button type="button" class="btn btn-outline-info btn-fw">Info</button>
                    <button type="button" class="btn btn-outline-light btn-fw">Light</button>
                    <button type="button" class="btn btn-outline-dark btn-fw">Dark</button>
                    <button type="button" class="btn btn-link btn-fw">Link</button> -->
                    <p class="card-description" style="margin-top: 10px;">언어 선택</p>
                    <button type="button" class="btn btn-outline-secondary btn-fw interLang" data-lang="en">영어</button>
                    <button type="button" class="btn btn-outline-secondary btn-fw interLang" data-lang="ja">일본어</button>
                    <button type="button" class="btn btn-outline-dark btn-fw" id="interSelBtn" style="float: right;">선택완료</button>
                  </div>
                </div>
              </div>
            </div>
         </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021.  Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash. All rights reserved.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="ti-heart text-danger ml-1"></i></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{ url_for('static', filename='vendors/js/vendor.bundle.base.js') }}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page -->
  <script src="{{ url_for('static', filename='vendors/typeahead.js/typeahead.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendors/select2/select2.min.js') }}"></script>
  <!-- End plugin js for this page -->
  <!-- inject:js -->
  <script src=  "{{ url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src= "{{ url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src= "{{ url_for('static', filename='js/template.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/todolist.js') }}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{{ url_for('static', filename='js/file-upload.js') }}"></script>
  <script src="{{ url_for('static', filename='js/typeahead.js') }}"></script>
  <script src="{{ url_for('static', filename='js/select2.js') }}"></script>

  <!-- jqery 05.27 taehee-->
  <script src="{{ url_for('static', filename='js/jquery-3.7.0.js') }}"></script>
  {% if text != ''%}
  <script>
    var text = "{{ text}}"
    var targetLang = "{{targetLang}}"
    var sourceLang = "{{sourceLang}}"
    $(window).ready(function(){

      $('.targetLangItem[data-lang="'+ targetLang+'"]').click()
      $('.sourceLangItem[data-lang="'+ sourceLang+'"]').click()
      $('#text').val(text)
      $('#tranBtn').click()
      

    });

  </script>
 {% endif%}


  <script>
    $("#tranBtn").on('click', itemClick);
    $('#text').on('keydown', textDown);
    $('.interApi').on('click', function(){
      $('.interApi').removeClass('selectedApi')
      $(this).addClass('selectedApi')
    })

    $('.interLang').on('click', function(){
      $('.interLang').removeClass('selectedLang')
      $(this).addClass('selectedLang')
    })

    $('#interSelBtn').on('click', function(){
      $('.popup').css('display', 'none')
    })

    $('.openPopup').on('click', function(){
      $('.popup').css('display', 'block')
    })

    $('.sourceLangItem').on('click', function(){
      var langCode = $(this).data('lang');
      var lang = $(this).text();
      $('#sourceLang').text(lang)
      $('#sourceLang').data('lang', langCode) 

    })
    
    $('.targetLangItem').on('click', function(){
      var langCode = $(this).data('lang');
      var lang = $(this).text();
      $('#targetLang').text(lang)
      $('#targetLang').data('lang', langCode) 

    })
    function itemClick(event){
      var text = $('#text').val()
      var sourceLang = $('#sourceLang').data('lang')
      var targetLang = $('#targetLang').data('lang')
      var interLang = $('.selectedLang').data('lang')
      var interApi = $('.selectedApi').data('api')
      
      if (typeof interLang == 'undefined'){
        interLang = ''
      }
      if (typeof interApi == 'undefined'){
        interApi = ''
      }
      data = {context : text 
         , sourceLang : sourceLang 
         , targetLang : targetLang 
         , interLang  : interLang 
         , interApi   : interApi
        }
    
      $.ajax({ 
        type:'POST',
        contentType: 'application/json',
        url:'/translate',
        data:JSON.stringify(data),
        dataType: 'json',
        success: function(response){
          $('#googleResult').text(response[0])
          $('#papagoResult').text(response[1])
          $('#kakaoResult').text(response[2])
          $('#deeplResult').html(response[3])    
          $('#gptResult').html(response[4])        
        },
        error : function(xtr, status, error){
                alert(xtr +":"+status+":"+error);
        }
    });  
    
  }
  function textDown(){
    var text = $('#text').val()
    data = {context : text }
    $.ajax({
      type:'POST',
      contentType: 'application/json',
      url:'/detectLang',
      data:JSON.stringify(data),
      dataType: 'json',
      success: function(response){
        $('.sourceLangItem').each(function(){
          if($(this).data('lang') == response){
            $(this).click()
          }
        })
      },
      error : function(xtr, status, error){
              alert(xtr +":"+status+":"+error);
      }
    })
  }   


    
  </script>
  <!-- End custom js for this page-->
</body>

</html>
