<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/translatePage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">번역</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/practiceTranPage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">직접 번역하기</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dictPage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">사전</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wordCoachPage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">단어 코치</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/wordTestPage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">단어 시험</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/board">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">자유 게시판</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/enquiryPage">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">문의하기</span>
        </a>
      </li>
    </ul>
  </nav>